# Required: Preview | Preprod | Mainnet
NETWORK=Preview

# Blockfrost project ID for the selected network
BLOCKFROST_API_KEY=previewXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Advanced config
# cNIGHT token identifiers (network-specific)
# CNIGHT_POLICY_ID=a
# CNIGHT_ENCODED_NAME=
